<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <title>Branch Management</title>
    <link rel="stylesheet" href="/Styles/main.css" />
    <link rel="icon" href="/img/favicon.png">

  </head>
  <body class="bodyBranchAdmin">
    <%- include('partials/header') %>
    <form id="branch-form">
      <h1>Branch Management</h1>
      <input
        class="findInput"
        name="stringReq"
        type="text"
        placeholder="Enter branch name"
      />
      <button class="btn btn-find" onclick="findBranches()" type="button">
        Find
      </button>
    </form>
    <button
      class="btn btnAddBranch"
      style="font-size: 18px"
      onclick="openModal(0)"
    >
      Add Branch &plus;
    </button>
    <div class="message"></div>

    <div id="updateModal" class="modal" style="display: none">
      <div class="modalContentBranchAdmin">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <div class="title" style="text-align: center">
          <h2 style="text-decoration: underline">Update Branch</h2>
        </div>
        <p id="modalTitle"></p>

        <form id="update-form">
          <input type="hidden" id="branchId" />

          <label for="branchName"><b>Name:</b></label>
          <input type="text" id="branchName" /><br /><br />

          <label for="bussinessHour"><b>Business Hours:</b></label>
          <input type="text" id="bussinessHour" /><br /><br />

          <label for="phoneNumber"><b>Phone:</b></label>
          <input type="number" id="phoneNumber" /><br /><br />

          <label for="storeAddress"><b>Store Address:</b></label>
          <input type="text" id="storeAddress" /><br /><br />
          <div class="lastElModals">
            <div>
              <label for="coordinate_x"><b>Coordinate X:</b></label>
              <input type="number" id="coordinate_x" style="width:50%"/><br /><br />
            </div>
            <div>
              <label for="coordinate_y"><b>Coordinate Y:</b></label>
              <input type="number" id="coordinate_y" style="width:50%" /><br /><br />
            </div>
          </div>
          <div class="errorModal" style="display: none"></div>
          <button
            class="btn btnUpdateBranch"
            type="button"
            style="text-align: center"
          >
            Update Branch
          </button>
        </form>
      </div>
    </div>
    <div class="branches-container"></div>

    <%- include('partials/footer') %>
  </body>
  <script src="Scripts/branchAdmin.js"></script>
</html>
