<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet"
  />
  <title>Contact Us</title>
  <link rel="stylesheet" href="/Styles/main.css" />
  <link rel="icon" href="/img/favicon.png">

</head>

<body>
  <%- include('partials/header') %>
    <main>
      <div class="contact-container">
        <div class="content">
          <h2>Contact Us</h2>
          <form>
            <input type="text" id="first-name" name="first-name" placeholder="First Name" required />
            <input type="text" id="last-name" name="last-name" placeholder="Last Name" required />
            <input type="email" id="email" name="email" placeholder="Email Address" required />
            <textarea type="message" id="message" name="message" placeholder="Your message..." required></textarea>
            <br /><br />
            <button class="btn" type="submit">Send Us</button>
          </form>
        </div>
        <div class="map" id="map"></div>
      </div>
      </div>
    </main>
    <%- include('partials/footer') %>
</body>
<script async
  src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAP_API %>&loading=async&callback=initMap">
  </script>
<script src="/Scripts/contact.js"></script>

</html>