<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Branch</title>
</head>
<body>
    <h2>Delete An Exsisted Branch</h2>
    <form action="/DeleteBranch" method="POST">
        <div class="form-group">
            <label for="Store_Name">Name:</label>
            <input type="text" class="form-control" id="Store_Name" name="Store_Name" required>
        </div>
         <!-- Display error message if available -->
         <% if (typeof error !== 'undefined') { %>
            <p style="color: red; text-align: left"><%= error %></p>
        <% } %>

        <button type="submit">Delete Branch</button>  
    </form>
</body>
</html>
