<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
    <link rel="stylesheet" href="/Styles/main.css" />
    <link rel="icon" href="/img/favicon.png">

  </head>
  <body>
    <%- include('partials/header') %>
    <main style="width: 15%; margin: 150px auto; text-align: center">
      <h2 class="login-title">Log In</h2>
      <form
        class="user-form"
        id="user-form"
        action="/login"
        method="POST"
        onsubmit="login(event)"
      >
        <div class="log-input-box">
          <label for="user-name">Email:</label>
          <input
            type="email"
            id="emailLogin"
            name="email"
            placeholder="Enter your Email"
            required
          />
        </div>

        <div class="log-input-box">
          <label for="password">Password:</label>
          <input
            type="password"
            id="passwordLogin"
            name="password"
            placeholder="Enter your password"
            required
          />
        </div>
        <div
          class="loginMessage"
          style="display: none; color: red; text-align: left"
        ></div>
        <button class="btn btn-login" type="submit">Log in</button>
        <p class="sign-option">
          Don't have an account?
          <a class="main-link" href="/register">Sign up</a>
        </p>
      </form>
    </main>
  </body>

 <script src="Scripts/log-in.js"></script>
</html>
