<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/Styles/main.css" />
    <link rel="icon" href="/img/favicon.png" />

    <title>Orders:</title>
   
  </head>

  <body class="ordersBody">
    <%- include('partials/header') %>
    <div class="errMsg" style="text-align: center; font-size: 18px"></div>

    <div class="modal" id="updateOrderModal" style="display: none">
      <div class="modal-content">
        <span class="closeButtonOrdersAdmin" onclick="closeModal()"
          >&times;</span
        >
        <h2>Update Order</h2>
        <form id="updateOrderForm">
          <div class="form-group">
            <label for="orderFullName">Order Full Name:</label>
            <input type="text" id="orderFullName" required />
          </div>

          <div class="form-group">
            <h3>Shipping Address</h3>
            <label for="street">Street:</label>
            <input type="text" id="street" required />

            <label for="city">City:</label>
            <input type="text" id="city" required />

            <label for="postalCode">Postal Code:</label>
            <input type="text" id="postalCode" required />

            <label for="country">Country:</label>
            <input type="text" id="country" required />

            <label for="phone">Phone:</label>
            <input type="text" id="phone" required />
          </div>

          <div class="form-group">
            <h3>Items</h3>
            <div id="orderItems"></div>
          </div>
          <div
            class="errMsgModal"
            style="color: red; margin-bottom: 14px"
          ></div>
          <button type="button" class="btn btnUpdateOrder btnSaveChanges">
            Save Changes
          </button>
        </form>
      </div>
    </div>
    <main class="ordersMain">
      <!-- Add this wrapper -->
      <div class="ordersNotFound" style="display: none"></div>
      <div class="ordersExist">
        <div class="search-container">
          <div class="search-box">
            <button
              style="
                cursor: pointer;
                border: none;
                background-color: transparent;
              "
              onclick="findOrder()"
            >
              <span class="search-icon">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M21 21L16.65 16.65"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </button>
            <input
              type="text"
              id="orderSearch"
              placeholder="Search Order ID..."
              class="search-input"
            />
            <button class="reset-button" type="button">
              <svg
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18 6L6 18"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6 6L18 18"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <div
            class="errMsgSearch"
            style="
              text-align: center;
              font-size: 18px;
              color: red;
              margin-top: 12px;
            "
          ></div>
          <h1 class="ordersOfTitle">Orders:</h1>
        </div>
        <div class="orders-container"></div>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
  <script src="/Scripts/orderUserAdmin.js"></script>
</html>
