<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/Styles/main.css" />
    <link rel="icon" href="/img/favicon.png">

  </head>
  <body class="bodyRegister">
    <%- include('partials/header') %>
    <main>
      <div class="content">
        <h2>Sign Up</h2>
        <form id="signup-form" method="POST" onsubmit="return register(event)">
          <div class="h7">Welcome, Please Fill The Following</div>

          <input
            type="text"
            id="first-name"
            name="firstName"
            placeholder="First Name"
            required
          />

          <input
            type="text"
            id="last-name"
            name="lastName"
            placeholder="Last Name"
            required
          />

          <input
            type="email"
            id="emailRegister"
            name="emailRegister"
            placeholder="Email Address"
            required
          />

          <input
            type="password"
            id="signPassword"
            name="password"
            placeholder="Password"
            required
          />

          <input
            type="password"
            id="confirm-password"
            name="passwordCompare"
            placeholder="Confirm Password"
            required
          />
          <div
            class="registerMessage"
            style="display: none; color: red; text-align: left"
          ></div>

          <div class="checkbox-container">
            <input type="checkbox" id="marketing" name="marketing" />
            <label style="font-weight: 500; font-size:1rem" for="marketing">I want to receive marketing content</label>
          </div>

          <div class="checkbox-container">
            <input type="checkbox" id="terms" name="terms" required />
            <label style="font-weight: 500; font-size:1rem" for="terms">I agree to the <a class="terms" href="#">Terms Of Use</a></label
            >
          </div>

          <button class="btn btnSubmit" type="submit" disabled>Sign Up</button>
        </form>
      </div>
    </main>
    <script src="Scripts/register.js"></script>
  </body>
</html>
