<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users Management</title>
    <link rel="stylesheet" href="/Styles/main.css" />
  </head>
  <body class="usersAdminbody">
    <%- include('partials/header') %>

    <form id="users-form">
      <h1>Users Management</h1>

      <input
        name="emailUsersForm"
        type="email"
        style="width: 200px"
        placeholder="Enter user email"
        class="findUserInput"
      />
      <button class="btn btn-find" type="submit">Find</button>
    </form>

    <!-- Success/Error handler -->
    <div class="message" style="text-align: center"></div>

    <!-- Display all users -->
    <div class="users-container"></div>
    <div id="updateModal" class="modal" style="display: none">
      <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <div class="title" style="text-align: center">
          <h2 style="text-decoration: underline">Update User</h2>
          <p id="modalTitle"></p>
        </div>
        <form id="update-form">
          <input type="hidden" id="emailModal" />

          <label for="userName"><b>Name:</b></label>
          <input type="text" id="userName" /><br /><br />

          <label for="userLastName"><b>Last Name:</b></label>
          <input type="text" id="userLastName" /><br /><br />

          <label for="userEmail"><b>Email:</b></label>
          <input type="email" id="userEmail"/><br /><br />

          <label for="userPassword"><b>Password:</b></label>
          <input type="password" id="userPassword" /><br /><br />

          <div class="lastElModals">
            <div>
              <label for="userAdmin"><b>Admin: </b></label>
              <select id="userAdmin" name="userAdmin" class="dropList">
                <option value="" disabled selected>Select an option:</option>
                <option value="notAdmin">Not admin</option>
                <option value="admin">Admin</option>
              </select>
            </div>
            <div>
              <label for="marketing"><b>Marketing: </b></label>
              <select id="marketing" name="marketing" class="dropList">
                <option value="" disabled selected>Select an option:</option>
                <option value="No">No</option>
                <option value="Yes">Yes</option>
              </select>
            </div>
          </div>

          <div class="errorModal" style="display: none"></div>
          <button
            class="btn btnUpdateUser"
            type="button"
            style="text-align: center"
            onclick="updateUser()"
          >
            Update User
          </button>
        </form>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
  <script src="/Scripts/usersAdmin.js"></script>
  <script>
 </script>
</html>
