/* Styles/style.css */
@import url("colors.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(background-color);
  color: var(text-color);
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: var(background-color);
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 150px;
  height: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left li {
  list-style: none;
  margin-right: 20px;
}

.nav-left li:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: var(text-color);
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--main-color);
}

.nav-right .nav-link {
  margin-left: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: stroke 0.3s;
}

.icon:hover {
  stroke: var(--main-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-left {
    display: none;
  }

  .nav-right {
    margin-left: auto;
  }

  .logo-img {
    width: 120px;
  }
}
